.login-container {
    background: url("https://i.ibb.co/SV8BfDg/bg-mobile-personnel.jpg");
    height: 110vh;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 5vh;
}
.right-container {
    border-radius: 20px;
    background: #b7d3d36b;
    -webkit-box-shadow: 14px 14px 28px #e0e1e485, -14px -14px 28px #ffffff;
    box-shadow: 14px 14px 28px #7d828e, -14px -14px 28px #ffffff41;
}
.input-field {
    background: #ccc8c879;
    border: none;
    border-radius: 20px;
}
.btn-login {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}
.btn-login:hover {
    background: #b7d3d3c2;
}