.not-found-bg {
    background-image: url("https://i.ibb.co/JdgRWJJ/6M513.png");
    height: 120vh;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.service-btn{
    border: 1px solid black;
}